@import "../defaults/color";

footer {
    // Footer position 
    position:relative;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;  
   margin-top: 100px;

    // social media picture/link position
    .social-media {
        display: flex;
        justify-content: space-around;
        align-items: baseline;

        
    }
    // social media picture/link size 
        img {
            width: 30px;
            height: 30px;
        }
    // copyright font and size 
    #copyright {
        font-family: 'Courier New', Courier, monospace;
        font-size: 10px;
    }
}