@import "../defaults/color";
@import "../defaults/breakpoint";

footer {
    position:absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;  

    .social-media {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        
    }
        img {
            width: 30px;
            height: 30px;
        }
    
    #copyright {
        font-family: 'Courier New', Courier, monospace;
    }
}