@import "../defaults/color";



header {
    
    margin-top: 1%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 24px;
    
    

    .nav-items {
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-around;
        color: $primary-color;
        margin-bottom: 1%;
    
        a {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
            color: $primary-color;
        }
    }
    border-bottom: 1px solid grey;

}

@media screen and (max-width: 800px) {
    header {
        margin-bottom: 5%;
        margin-top: 5%;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: 20px;
        
        
    
        .nav-items {
            display: flex;
            flex-wrap:wrap ;
            color: $primary-color;
        
        
            a {
                text-decoration: none;
            }
    
            a:visited {
                text-decoration: none;
                color: $primary-color;
            }
        }
    
    
    }
}




@media screen and (max-width: 500px) {
    header {
        margin-bottom: 5%;
        margin-top: 5%;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: 16px;
        
        
    
        .nav-items {
            display: flex;
            flex-wrap:wrap ;
            color: $primary-color;
        
        
            a {
                text-decoration: none;
            }
    
            a:visited {
                text-decoration: none;
                color: $primary-color;
            }
        }
    
    
    }
}


