@import "../defaults/color";

.blogs {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

    a {
        text-decoration: none;
        color: $primary-color;
        background-color: white;
    }
    

    .blog1 {
        
        width: 150px;
        border: 1px solid black;
        border-radius: 8px;
        overflow: hidden;
        margin: 20px 0px;
        padding: 70px;
        background-image: url(/src/images/melbourne.jpg);
    }

    .blog2 {
        width: 150px;
        border: 1px solid black;
        border-radius: 8px;
        overflow: hidden;
        margin: 20px 0px;
        padding: 70px;
        background-image: url(/src/images/sydney.jpg);
        
    }

    .blog3 {
        width: 150px;
        border: 1px solid black;
        border-radius: 8px;
        overflow: hidden;
        margin: 20px 0px;
        padding: 70px;
        background-image: url(/src/images/brisbane.jpg);
        
    }

    .blog4 {
        width: 150px;
        border: 1px solid black;
        border-radius: 8px;
        overflow: hidden;
        margin: 20px 0px;
        padding: 70px;
        background-image: url(/src/images/adelaide.jpg);

    }

    .blog5 {
        width: 150px;
        border: 1px solid black;
        border-radius: 8px;
        overflow: hidden;
        margin: 20px 0px;
        padding: 70px;
        background-image: url(/src/images/perth.jpg);

    }
}

