@import "../defaults/color";

.blogs {
    /* Layout of my Blog post links/images, size, font-family  */
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;

    a {
        text-decoration: none;
        color: $primary-color;
        background-color: white;
    }
    

    .blog1 {
        
        img {
            /* image size */
            border-radius: 10px;
            width: 200px;
            height: 200px;
        }
    }

    .blog2 {
        
        img {
            border-radius: 10px;
            width: 200px;
            height: 200px;
        }
    }

    .blog3 {
       
        img {
            border-radius: 10px;
            width: 200px;
            height: 200px;
        }
    }

    .blog4 {
        
        img {
            border-radius: 10px;
            width: 200px;
            height: 200px;
        }
    }

    .blog5 {
        
        img {
            border-radius: 10px;
            width: 200px;
            height: 200px;
        }
    }
}

