@import "../defaults/color";

main {
    
    /* font family for page content, align text in center. */
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
    
    
    /* highlight about me to indicate it is a link */
    .about-me {
        background-color: $secondary-color;   
    }
        a {
            text-decoration: none;
            color: $primary-color;
        }
    /* cursor changes to pointer to indicate link */

        &:hover {
            cursor: pointer;
        }

    /* highlight contact me to indicate it is a link */
    .contact-me {
        background-color: $third-color;
    }
    /* cursor changes to pointer to indicate link */
    &:hover {
        cursor: pointer;
    }
    
 }