@import "./defaults/color";
@import "./components/header";
@import "./components/footer";

body {
    /* footer position */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


