@import "../defaults/color";

main {
    
    
    font-family: 'Courier New', Courier, monospace;
    text-align:center;

    .intro {
        margin-top: 150px;
        margin-bottom: 150px;
    }
    

    .about-me {
        background-color: rgb(245, 210, 70);   
    }
        a {
            text-decoration: none;
            color: $primary-color;
        }

    .contact-me {
        background-color: rgb(86, 218, 238);
    }
    
 }